:root {
    --orange-theme:#e06156;
    --orange-darker-theme: #ab4d44;
    --green-theme: #369679;
    --green-darker-theme: #2a755e;
    --grey-theme: #3e3f42;
    --darker-grey-theme: #242426;
    --backdrop-white: #e2e7ef;
    --text-color: rgb(102, 102, 102);
}



* {
    box-sizing: border-box;
    margin: 0px;
    /* border: 1px solid rgb(183, 181, 181); */
    padding: 0px;

    font-family: "Rubik", sans-serif;
}


body .survey {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: rgb(229, 228, 228);
}
/* text classes */
.large-heading {
    font-weight: 600;
    font-size: 3rem;
    color: white;
    
}

.thin-text {
    font-weight: 400;
}

.green-text {
    color: var(--);
    font-weight: 500;

}
                                    
/* main container */

.main-container {
    display: flex;
    
    flex-direction: column;
    width: 95%;
    
    /* padding: 50px; */
    row-gap: 20px;
    background-color: #369679;
    
    /* border-top: 10px solid #5ABB48; */
    /* border: 1px solid grey; */
    /*box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* instruction container */

.ins-container {
    padding: 20px;
    background-color: var(--orange-darker-theme);
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.ins-container h1 {
    font-weight: 500;
}


/* question container */


.q-container {

    padding: 20px;

    font-size: 14px;

}



/* logo container */

.logo-container {
    position: relative;
}
.image-container img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    height: 300px;
    width: 100%;
    
}


.logo-container p {
    position: absolute;
    color: white; 
    top: 150px;
    left: 56px;
    font-weight: 300;
    font-size: 1.2rem;
}

.logo-container h1 {
    position: absolute;
    top: 30px;
    left: 50px;
    color: white;
    font-weight: 600;
    font-size: 6rem;
}

.img-gradient {
    position: relative;
    display: inline-block;
}

.img-gradient:after {
background: rgb(78, 198, 162);
    background: linear-gradient(90deg, rgba(78, 198, 162, 1) 54%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
    opacity: 70%;
    position: relative;
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;

}

/* vark #survey*/

.main-test-container {

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    width: 600px;
    margin: auto;
    background-color: white;
}



.pretest,
.vark-questionnaire {
    background-color: #e2e7ef;
    padding: 30px;
    
}


#survey,
#pretest,
#posttest {
    row-gap: 40px;
    display: flex;
    flex-direction: column;

}

#posttest div div img {
    height: 100%;
    width: 100%
}

#survey > div,
#pretest > div,
#posttest > div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    /* background-color: rgb(248, 248, 244); */
}

#survey > div > p,
#pretest > div > p,
#posttest > div > p {
    /* questions */

    font-size: 16px;
    color: var(--green-darker-theme);
    line-height: 1.2;
    font-weight: 500;

    /* color: var(--grey-theme); */
}

/* radio containers */

#survey> div> div> label,
#pretest> div> div> label,
#pretest> div> div> label {
    /* options */
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-theme);
}
#survey>div>div,
#pretest>div>div,
#posttest>div>div {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

 input[type='checkbox'] {
     transform: scale(1.2);
 }

 /* submitbutton */
 
.submit-button,
.register-btn{
    width: 120px;
    height: 35px;
    background-color: var(--green-theme);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 5px solid var(--green-darker-theme);
    border-right: 3px solid var(--green-darker-theme);
    border-left : 3px solid var(--green-darker-theme);
}

.submit-button:hover {
    background-color: #2a7961;
}

.submit-container,
.register-btn-portion {
    display: flex;
    align-items: center;
}

/* submitted text container */
.submitted-text-container {
    color: white;
    font-size: 2rem;
    padding: 50px;
    font-weight: 500;
    text-align: center;
    display:none;
}


.submitted-text-container img {
    transform: scale(1.1);
    
}

/* registration */
.reg-container {
    background-color: var(--grey-theme);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 50px;

}


.reg-container div {
    
    display: flex;
    flex-direction: column;
    position: relative
}

#registration div {
    flex: 1
}

#registration {
    display: flex;
    flex-direction: column;
    flex: 1;

    row-gap: 20px;
}

#registration label {
    transition: all 0.3s;
    position: absolute;
    font-size: 12px;
    top: 6px;
    left: 12px;
    color: transparent  
}

#registration input::placeholder {

}

#registration input:focus::placeholder {
    transition: all 0.1s;
    color: transparent
}

#registration input:focus+label {
    
    color: white;
}

#registration input:focus {
    outline-width: 0;
}

#registration input {
    color: white;
    background-color: #4a4b4f;
    border: none;
    border-radius: 3px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-size: 1.5rem;
    flex: 1;
    padding: 20px 10px 10px 10px;
}

#registration input:focus {
    border: 2px solid rgb(102, 101, 101);
    background-color: #5f6166
}

/* HOME PAGE */

.front-img-container {
    background-image: url(img/vr-kids-2.jpg);
    background-size: cover;
    background-position: center;
    background-color: #5bc4a4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative
}

.front-header {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    
    padding: 20px;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 15px;
    align-items: center;
}

li {
    
    font-size: large;
    color: white;
}

.header-interact-corner {
    display: flex;
    column-gap: 40px;
}

.front-text-container {
    display: flex;
    height: 400px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}



.front-text-container > *{
    position: relative; 
    left: 200px;
    
    color: white;
    align-self: flex-start;
    
}

.front-card-container {
    top: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    width: 80%;
    align-self: center;
}

.header-logo {
    color: white;
}


.header-button-temp {
    background: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    
}


.header-login-container {
    display: flex;
    column-gap: 10px;
}

.header-login-container button:hover,
.front-signin-container button:hover{
    cursor: pointer;
    background-color: var(--orange-darker-theme);
}


.front-card-template {
    column-gap: 20px;
    display: flex;
    background-color: rgb(252, 252, 252);

    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
.card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.front-card-template img {
    
    height: 40px;
    width: 40px;
}
.card-text-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: rgb(102, 102, 102)
}

.card-text-container p {
    font-size: 12px;
}

.home {

   background-color: rgb(251, 249, 243); 
}
.main-body {

    display: flex;
    margin-top: 120px;
    flex-direction: column;
    flex: 1;

    
}

.main-body > * {
   width: 80%; 
   align-self: center;
}
.main-body-title-container {
    display: flex;
    justify-content: center; 
    align-items: center;

}

.main-body-title {
    color: rgb(53, 53, 53)
    
}
.img-copyright {
    font-size: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;

}

.colored-button-template {
    padding: 10px 20px;
    border-radius: 3px;
     
    border: none;
    color: white;
    background-color: #e06156;
    font-weight: 400;
}



.body-header-text {
    font-size: large;
    font-weight: bold;

}


/* main body card template */


.main-body-card-container {
    margin-top: 70px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    /* border: 1px solid green; */
    width: 80%;
    /* border: 1px solid green; */
    margin-bottom: 50px;
}

.main-body-card-template {
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    height: 320px;
    width: 250px;

    background-color: white;
    
    box-shadow: rgba(182, 182, 182, 0.35) 0px 5px 15px;
}


.main-body-card-img > img {
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-body-card-img {
    height: 150px;
}

.main-body-card-text-box h3 {
    color: var(--orange-theme)
}
.main-body-card-text-box p {
    font-size: 14px;
}

.main-body-card-text-box {
    

    color: var(--text-color);
    display:flex ;
    flex-direction: column;
    row-gap: 12px;
    padding: 25px;
}

.contact-section-container {
    padding: 30px;

    flex-direction: column;
    display: flex;
    row-gap: 20px; 
    color: white;
}
.contact-section-container .get-in-touch-text {
    color: white;
    margin-bottom: 20px;
    
}

.contact-section-container h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
}
.contact {
    background-color: var(--orange-darker-theme);
    display: flex;
    justify-content: center;

}


.contact-person{
    margin-bottom: 30px; 
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contact-person img {
    height: 100px;
    border-radius: 50px;
    width: 100px;
    border: 3px solid white;
}
.contact-info-container {
    display: flex;
    justify-content: space-between;


}


.contact-img-container {
    display: flex;
    justify-content: center;
}



.contact-text-box p {
    font-size: 14px;

    text-align: center;
    
}


.contact-text-box {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: white;
}

.contact-text-box .name {
    font-weight: 500;
}
.contact-text-box .email-address {
    font-weight: 200;
}

.institution-info{

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.info-group h3 {
    margin-bottom: 10px;
}
.info-group p{
    font-weight: 200;
}

footer {
    text-align: center;
    background-color: #3e3f42;
    padding: 3px;
    color: white;
    font-size: 12px;
}

/* LOGIN PAGE */

.main-login-container,
.main-signup-container,
.login-modal-content{

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    background-color: white;
    border-top: 5px solid var(--orange-darker-theme);
    flex-direction: column;
    width: 400px;
    padding: 30px 50px 30px 50px;
     
}


.main-signup-container {
    padding: 20px 50px 20px 50px;
    
}

.main-login-container h1,
.main-signup-container h1,
.login-modal-content h1 {
    font-size: 2rem ;
    margin-bottom: 30px;
    color: var(--orange-theme);
}


.main-signup-container h1 {
    margin-bottom: 20px;
}

.login,
.signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#signup div,
#login div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
}
#signup div input:focus,
#login div input:focus{
    outline: none;
    border-radius: 3px;
    border: 2px solid grey;
    
}


#signup div input,
#login div input {
    border: none;
    border-bottom: 2px solid grey;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    padding: 10px;
    
}


.login-body,
.signup-body {
    background-color: #e2e7ef;
}

.login-button-template {
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: var(--orange-theme);
    color: white;
    font-weight: 400;
}

.login-button{
    display: flex;
    justify-content: center;
    margin: 20px 5px;
}

.login-button button:hover {
    background-color: var(--orange-darker-theme);
    cursor: pointer;
}

.signup-button button:hover {
    cursor: pointer;
    background-color: var(--darker-grey-theme);
    
}
.signup-button {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.forgot-password-text, .sign-up-prompt-container p{
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
}

.signup-button-template {
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: var(--grey-theme);
    color: white;
    font-weight: 400;
}

/* USER PAGE */


.user-page{
    background-color: #e2e7ef;
    display: flex; 
    flex-direction: column;
    height: 99vh;
}






.greet-user h3{
    font-weight: 400;
    
}
.user-page-header {

    padding: 20px;
    align-items: center;
    color: var(--grey-theme);

    justify-content: space-between;
    width: 80%;
    margin: auto;
    
    display: flex;
    flex-direction: row;
}

.user-page-body {
    display: grid;
    flex: 1;
    width: 80%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    grid-gap: 20px 20px;
    padding: 0px 20px 20px 20px;  
}

.user-page-body> div{
    border-top: 5px solid var(--orange-darker-theme);
}



.pfp-section {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}



.pfp-section .pfp-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    text-align: center;
}
.pfp-section .profile-image {
    height: 130px;
    width: 130px;
    border: 3px solid white;
    border-radius: 100px;
    background-image: url(img/anonymous.jpg);
    background-position: center;
    background-size: contain;

}



.user-section-card-template {
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.assignment-section {
    grid-row: 2/3;
    grid-column: 1/2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.user-info,
.user-progress{
    flex: 1 1 0;
}

.info-section {
    flex: 1 1 0;
    grid-row: 1/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.tests-button-section div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;


}
.tests-button-section div  button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-theme);
}

.tests-button-section div div{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    

}
.user-section-title-template{
    font-size: 16px;
    font-weight: 500;
    color: #ab4d44;
}

.user-section-title-container {
    display: flex;
    align-items: center;
    column-gap: 5px;

}

.user-section-title-container img{

    height: 25px;
    width: 25px;
}


.tests-button-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.tests-button-section div button:hover {
    background-color: var(--green-darker-theme);
    cursor: pointer;
    
}




.user-page-button-template {
    height: 30px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 2px;

    font-weight: 300;
    font-size: 14px;
    border: none;
    background-color: var(--orange-theme);
    
    color: white;
}


.nav-section {
    justify-self: flex-end;
    align-self: center;

    margin-top: 20px;
}

#user-go-home:hover {
    background-color: var(--orange-darker-theme);
    cursor: pointer;
}

#user-logout:hover {
    background-color: var(--darker-grey-theme);
    cursor: pointer;
}




.user-logout-btn {
    background-color: var(--grey-theme);
}



/* MODAL */


.modal {
    display: none;
    z-index: 100;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;

    
}

/* Modal Content */
.modal-content,
.login-modal-content {
    position: fixed;
    top: 50%;
    bottom: 0;
    background-color: #fefefe;
    
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.modal-content {
    height: 300px;
    width: 300px;
    margin-left: -150px;
    margin-top: -150px;
    
}

.login-modal-content {
    height: 476px;
    left: calc(50% - 200px);
    top: calc(40% - 173.8px);
    -webkit-animation-name: HomeSlideIn;
    -webkit-animation-name: HomeSlideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes homeSlideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes homeSlideIn {
    from {
        bottom: -2145px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes slideIn {
    from {
        bottom: -2145px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}